* text=auto eol=lf

/tests               export-ignore
/.github             export-ignore
/phpunit.xml.dist    export-ignore
/phpcs.xml.dist      export-ignore
/phpstan.neon        export-ignore
/composer-dependency-analyser.php export-ignore
/infection.json5    export-ignore
/box.json            export-ignore
/tools               export-ignore
/docs/_data          export-ignore
/docs/requirements.txt export-ignore
/mkdocs.yml          export-ignore
/.editorconfig       export-ignore
/.gitattributes      export-ignore
/.gitignore          export-ignore
